//- components
.component-wrapper
  if !component || !component.meta
    .component(class="js-section", id=(component.slug))
      h3.component__title #{component['404']}
      .component__meta
      p.component__404 ‼&nbsp;&nbsp;Component `#{component['404']}` not found.
      
  else
    .component(class="js-section is-loading", id=(component.slug))
      if component.meta.name
        h3.component__title #{component.meta.name}


      if component.meta.description
        .component__description !{component.meta.description}

      input.hide(type='checkbox' name='source' id=('toggle-' + component.slug) class="component__toggle")

      .component__meta

        label.component__meta__toggle(for=('toggle-' + component.slug), class="js-code-toggle") code
        span.component__meta__file #{component.file}

        a.component__meta__link(href=component.libFile, target="_blank")
          | <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          |   <path fill="#444" d="M24 26h-20v-16h4l4-4h-10c-0.57 0-2 1.478-2 2v20c0 0.816 0.8 2 2 2h24c0.342 0 2-1.088 2-2v-8l-4 2v4zM8 24c3.756-6.142 4.798-10 12-10v6l12-9.004-12-8.996v6c-13.268 0-12 16-12 16z"></path>
          | </svg>

      .component__code
        div.component__code__output
          h3.component__code__title HTML
          pre
            code.language-markup

      .component__preview(class="js-component-preview")
        span.component__preview__handle(class="js-component-preview-handle")
          | <svg width="5px" height="23px" viewBox="0 0 5 23" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          |   <g id="Group" fill="#000000">
          |     <circle id="Oval" cx="2.5" cy="2.5" r="2.5"></circle>
          |     <circle id="Oval" cx="2.5" cy="11.5" r="2.5"></circle>
          |     <circle id="Oval" cx="2.5" cy="20.5" r="2.5"></circle>
          |   </g>
          | </svg>
        iframe.component__preview__iframe(data-original=component.libFile frameborder="0" scrolling="no", height=component.height)