doctype html
html(lang="en")
  head
    title #{pageTitle}
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="cleartype", content="on")
    link(rel="stylesheet", type="text/css", href=rootPath + "all.min.css")

    | !{headHtml}

  body(class=bodyClass, id="top")
    input(type='checkbox' id='hamburger' class='hamburger-toggle')
    label(for='hamburger').close-sidebar

    .sidebar
      if navItems.length
        ul.sidebar__nav
          each item in navItems
              li.sidebar__nav__item(class=(currentPage === item.label ? 'is-active' : ''))
                a.sidebar__nav__item__link(href=item.href) #{item.label}

      if headings.length
        ul.sidebar__inpage
          each item in headings
            li.sidebar__inpage__item(class="js-sidebar__item", data-rel=item.slug, title=item.label)
              a.sidebar__inpage__item__link(href='\#' + item.slug) #{item.label}
      
    .main
      header.header.clearfix
        
        label(for='hamburger').header__link.header__hamburger ☰
        if navItems.length
          ul.header__nav
            each item in navItems
              li.header__nav__item
                a.header__nav__item__link(class=(currentPage === item.label ? 'active' : ''), href=item.href) #{item.label}

        if navItems.length
          ul.breadcrumbs
            each item in navItems
              if currentPage === item.label
                li(class="breadcrumbs__item breadcrumbs__item--current")
                  a.breadcrumbs__section(href=item.href) #{item.label}
            li.breadcrumbs__item(class="js-breadcrumb")
        
        .header__meta
          .header__meta__info
              .header__meta__info__domain #{meta.domain}
              .header__meta__info__title
                | #{meta.title}
                if meta.version
                  span.header__meta__info__version #{meta.version}
            
          if meta.avatar
            img(src=meta.avatar).header__meta__avatar

      .content
        | !{content}
        block content

      a.scrolltop(href="#top")

      //- iframes
      script(src='https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.0/iframeResizer.min.js', defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.5.2/lazyload.min.js', defer)

      //- prism
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/prism.min.js' defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-markup-templating.js' defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-scss.min.js' defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-css.min.js' defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-clike.min.js' defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-javascript.min.js' defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-diff.min.js' defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-json.min.js' defer)
      script(src='https://cdnjs.cloudflare.com/ajax/libs/prism/1.14.0/components/prism-markdown.min.js' defer)
      
      script(src=rootPath + 'app.min.js', defer)

      | !{bodyHtml}