doctype html
html(lang="en")
  head
    title #{pageTitle}
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="cleartype", content="on")
    link(rel="stylesheet", type="text/css", href="all.min.css")

    | !{headHtml}

  body(class=bodyClass, id="top")
    input(type='checkbox' id='hamburger' class='hamburger-toggle').hide
    label(for='hamburger').close-sidebar

    if navItems.length
      aside.sidebar.offcanvas
        each item in navItems        
          .offcanvas__link-wrapper(class=(currentPage === item.label ? 'is-active' : ''))
            a.offcanvas__link(class="current", href=item.link) #{item.label}
            
            if (currentPage === item.label) || (currentPage === 'Index' && item.label === 'Home')
              div.sidebar__list-wrapper(class="js-sidebar")
                if headings.length
                  ul.sidebar__list(class="current is-open")
                    each heading in headings
                      li.sidebar__item(class="js-sidebar__item", data-rel=heading.slug)
                        a.sidebar__item__link(href='\#' + heading.slug) #{heading.label}
      
    .wrapper.push

      header.header.clearfix
        
        label(for='hamburger').header__link.header__hamburger ☰
        if navItems.length
          ul.header__nav
            each item in navItems
              li.header__nav__item
                a.header__nav__item__link(class=(currentPage === item.label ? 'active' : ''), href=item.link) #{item.label}

        if navItems.length
          ul.breadcrumbs
            each item in navItems
              if currentPage === item.label
                li(class="breadcrumbs__item breadcrumbs__item--current")
                  a.breadcrumbs__section(href=item.link) #{item.label}
            li.breadcrumbs__item(class="js-breadcrumb")

        input(type='checkbox' class='project-toggle' id='projects').hide
        label(for='projects').close-sidebar
        
        label(for='projects').header__projects
          .header__project__info
            .header__project__domain #{meta.domain}
            .header__project__title 
              | #{meta.title} 
              span.header__project__version #{meta.version}
            
          if meta.avatar
            img(src=meta.avatar).header__project__avatar

          if subnav.length
            span.header__project__icon

        if subnav.length
          ul.project__list
            each item in subnav
              li.project__list__item
                a.project__list__item__link(href=item.href)
                  img.project__list__item__avatar(src=item.avatar)
                  .project__list__item__body
                    .project__list__item__body__domain #{item.domain}
                    .project__list__item__body__title #{item.title}

      .container(class="space content") 
        | !{content}
        block content

      a.scrolltop(href="#top")

      block footer_js
      script(src='app.min.js')

      | !{bodyHtml}