doctype html
html(lang="en")
  head
    title #{pageTitle}
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="cleartype", content="on")
    link(rel="stylesheet", type="text/css", href=rootPath + "all.min.css")

    | !{headHtml}

  body(class=bodyClass, id="top")
    input(type='checkbox' id='hamburger' class='hamburger-toggle').hide
    label(for='hamburger').close-sidebar

    .sidebar
      if navItems.length
        ul.sidebar__nav
          each item in navItems
              li.sidebar__nav__item(class=(currentPage === item.label ? 'is-active' : ''))
                a.sidebar__nav__item__link(href=item.link) #{item.label}

      if headings.length
        ul.sidebar__inpage
          each item in headings
            li.sidebar__inpage__item(class="js-sidebar__item", data-rel=item.slug)
              a.sidebar__inpage__item__link(href='\#' + item.slug) #{item.label}
      
    .wrapper.push
      header.header.clearfix
        
        label(for='hamburger').header__link.header__hamburger ☰
        if navItems.length
          ul.header__nav
            each item in navItems
              li.header__nav__item
                a.header__nav__item__link(class=(currentPage === item.label ? 'active' : ''), href=rootPath + item.link) #{item.label}

        if navItems.length
          ul.breadcrumbs
            each item in navItems
              if currentPage === item.label
                li(class="breadcrumbs__item breadcrumbs__item--current")
                  a.breadcrumbs__section(href=rootPath + item.link) #{item.label}
            li.breadcrumbs__item(class="js-breadcrumb")

        input(type='checkbox' class='project-toggle' id='projects').hide
        label(for='projects').close-projects
        
        label(for='projects').header__projects
          .header__project__info
            .header__project__domain #{meta.domain}
            .header__project__title 
              | #{meta.title} 
              span.header__project__version #{meta.version}
            
          if meta.avatar
            img(src=meta.avatar).header__project__avatar

          if subnav.length
            span.header__project__icon

        if subnav.length
          ul.project__list
            each item in subnav
              li.project__list__item
                a.project__list__item__link(href=item.href)
                  img.project__list__item__avatar(src=item.avatar)
                  .project__list__item__body
                    .project__list__item__body__domain #{item.domain}
                    .project__list__item__body__title #{item.title}

      .container(class="space content") 
        | !{content}
        block content

      a.scrolltop(href="#top")

      block footer_js
      script(src=rootPath + 'app.min.js')

      | !{bodyHtml}